$black: #000;
$subFont: #6b6b6b;

$link: #427bb0;
$linkHover: #2bd3f8;
$linkVisited: #1b4e7d;

$boxShadow: #9d9d9d;

@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Noto+Serif+JP|Playfair+Display");

$notoSans: "Noto Sans JP", sans-serif;
$notoSerif: "Noto Serif JP", serif;
$lato: "Lato", sans-serif;
$playfair: "Playfair Display", serif;

@mixin border {
  border-top: 6px solid $black;
  border-left: 6px solid $black;
}

@mixin border-content {
  border-right: 6px solid $black;
  border-bottom: 6px solid $black;
}
