.l-wrapper {
  width: 100%;
}

.l-display-flex {
  width: 80vw;
  margin: 6vw auto;
  display: flex;
}

.l-profile-wrapper {
  flex: 1;
  max-width: 500px;
}

.l-contents-wrapper {
  flex: 2;
}

.l-profile-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 26px 0 0;
}

.l-contents-flex {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.l-contents-box-left {
  width: 18vw;
}

.l-contents-box-mgn {
  width: 4vw;
}
.l-contents-box-right {
  width: 18vw;
}
