html {
  background-color: $black;
}

/*
======================================
back to top button
*/

.p-link-top {
  width: 192px;
  height: 128px;
  background-color: $vuecolor;
  text-align: center;
  cursor: pointer;
  img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
  }
  span {
    color: #fff;
    font-family: $lato;
    font-size: 48px;
    font-weight: 900;
    margin-left: -5px;
  }
}

/*
======================================
header profile area
*/

.p-h-profile-box {
  @include border;
  background-color: #fff;
  padding-left: 2vw;
}

.p-h-english-name {
  font-family: $lato;
  font-size: 48px;
  line-height: 1.2em;
  margin: 1vw auto 8px -3px;
  color: $black;
}

.p-h-japanese-name {
  font-family: $notoSans;
  font-size: 32px;
  font-weight: 100;
  color: $black;
  margin-bottom: 32px;
}

.p-h-email {
  font-family: $lato;
  font-size: 24px;
  font-weight: 100;
  color: $black;
  margin-bottom: 64px;
}

.p-h-history-wrapper {
  display: flex;
}

.p-h-history-title {
  width: 160px;
  font-family: $notoSans;
  color: $black;
  h3 {
    font-size: 20px;
    font-weight: 900;
    margin: 4px auto 16px;
  }
  h4 {
    font-size: 14px;
    margin-bottom: 32px;
  }
}

.p-h-history-detail {
  flex: 1;
  font-family: $notoSans;
  color: $black;
  padding-left: 40px;
  font-size: 16px;
  line-height: 1.8em;
}

.p-h-upper-box {
  position: relative;
  @include border;
  overflow: hidden;
}

.p-h-lower-box {
  position: relative;
  @include border;
  overflow: hidden;
}

/*
======================================
contains area
*/

.p-c-box-1 {
  position: relative;
  background-color: #fadf09;
  height: 20vw;
  max-height: 400px;
  @include border-content;
  overflow: hidden;
}

.p-c-box-2 {
  position: relative;
  background-color: #9287f3;
  height: 30vw;
  max-height: 600px;
  @include border-content;
  overflow: hidden;
}

.p-c-box-3 {
  position: relative;
  background-color: #2aa7c7;
  height: 40vw;
  max-height: 800px;
  @include border-content;
  overflow: hidden;
}

/*
======================================
universal
*/

.p-u-box-text {
  font-family: $notoSans;
  font-size: 16px;
  font-weight: 100;
  color: $black;
  padding: 16px;
  line-height: 1.5em;
}

.p-u-box-title {
  font-family: $notoSans;
  color: $black;
  padding: 16px;
  line-height: 2em;
  cursor: pointer;
  h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 24px;
  }
  p {
    font-size: 16px;
    font-weight: 100;
  }
}

.p-u-box-title:hover {
  background-color: $vuecolor;
  color: #fff;
  transition: $transition;
}

.p-u-box-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: $transition;
}

.p-u-hover-comment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: $notoSans;
  font-size: 16px;
  line-height: 1.5em;
  background: $vuecolor;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  transition: $transition;
  opacity: 0;
}

.p-u-hover-comment:hover {
  opacity: 1;
}

.p-u-scale {
  cursor: pointer;
}

.p-u-scale:hover {
  transform: scale(1.1);
}

/*
=============================================================
Media query
*/

@media screen and (max-width: 1260px) {
  /*　画面サイズが1260pxまではここを読み込む　*/
  .p-h-english-name {
    font-size: 32px;
  }

  .p-h-japanese-name {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .p-h-email {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .p-h-history-wrapper {
    display: block;
  }

  .p-h-history-title {
    min-width: 800px;
    margin-bottom: -32px;
    h3 {
      font-size: 16px;
      font-weight: 900;
      margin: 4px auto 8px;
    }
    h4 {
      font-size: 13px;
      margin-bottom: 16px;
    }
  }

  .p-h-history-detail {
    padding-left: 0px;
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 16px;
  }

  .p-u-box-text {
    font-size: 14px;
    padding: 8px;
    line-height: 1.3em;
  }

  .p-u-box-title {
    padding: 8px;
    h3 {
      font-size: 24px;
      margin-bottom: 16px;
    }
    p {
      font-size: 14px;
    }
  }

  .p-u-hover-comment {
    font-size: 14px;
    line-height: 1.3em;
    padding: 8px;
  }
}

@media screen and (max-width: 800px) {
  /*　画面サイズが800pxまではここを読み込む　*/
  html {
    background-color: #fff;
  }

  .p-link-top {
    width: 96px;
    height: 64px;
    img {
      margin-top: 10px;
      width: 24px;
      height: 24px;
    }
    span {
      font-size: 16px;
    }
  }

  .p-h-profile-box {
    padding: 0 6vw;
    border: none;
  }

  .p-h-english-name {
    font-size: 72px;
    margin-top: 64px;
    margin-bottom: 16px;
  }

  .p-h-japanese-name {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .p-h-email {
    font-size: 16px;
    margin-bottom: 64px;
  }

  .p-h-history-wrapper {
    display: block;
  }

  .p-h-history-title {
    min-width: 800px;
    margin-bottom: -16px;
    h3 {
      font-size: 16px;
      font-weight: 900;
      margin: 4px auto 8px;
    }
    h4 {
      font-size: 16px;
    }
  }

  .p-h-history-detail {
    padding-left: 0;
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 40px;
  }

  .p-h-upper-box {
    margin-top: 48px;
    border: none;
  }

  .p-h-lower-box {
    border: none;
  }

  .p-c-box-1 {
    height: 60vw;
    border: none;
  }

  .p-c-box-2 {
    height: 80vw;
    border: none;
  }

  .p-c-box-3 {
    height: 100vw;
    border: none;
  }
  .p-u-box-img {
    vertical-align: bottom;
  }
  .p-u-hover-comment {
    position: absolute;
    left: 50%;
    width: 50%;
    opacity: 1;
    color: $black;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
