html {
  background-color: $vuecolor;
}

.p-link-top {
  width: 192px;
  height: 128px;
  background-color: $vuecolor;
  a {
    color: #fff;
    font-family: $lato;
    font-size: 56px;
    font-weight: 900;
    position: absolute;
    top: 36px;
    left: 46px;
  }
}

.p-h-profile-box {
  @include border;
  background-color: #fff;
  padding-left: 16px;
}

.p-h-english-name {
  font-family: $lato;
  font-size: 96px;
  line-height: 1.2em;
  margin: 0 auto 8px -3px;
  color: $black;
}

.p-h-japanese-name {
  font-family: $notoSans;
  font-size: 36px;
  font-weight: 100;
  color: $black;
  margin-bottom: 32px;
}

.p-h-email {
  font-family: $lato;
  font-size: 36px;
  font-weight: 100;
  color: $black;
  margin-bottom: 96px;
}

.p-h-history {
  font-family: $notoSans;
  color: $black;

  h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 32px;
  }
  p {
    font-size: 16px;
    line-height: 2em;
  }
}

.p-h-upper-box {
  background-color: #fadf09;
  @include border;
}

.p-h-lower-box {
  background-color: aqua;
  @include border;
}

.p-c-box-1 {
  background-color: #fadf09;
  height: 18vw;
  @include border-content;
}

.p-c-box-2 {
  background-color: #d09eae;
  height: 24vw;
  @include border-content;
}

.p-c-box-3 {
  background-color: #effdea;
  height: 36vw;
  @include border-content;
}

.p-c-box-text {
  font-family: $notoSans;
  font-size: 16px;
  font-weight: 100;
  color: $black;
  padding: 16px;
}

.p-c-box-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
