/*
reset the style
========================================================
*/
@import "./docs/scss/foundation.scss";

/*
colors, font-styles
contains all variables & mixins
========================================================
*/
@import "./docs/scss/variables.scss";

/*
layout of the window
prefix: .l-
========================================================
*/
@import "./docs/scss/layouts.scss";

/*
objects
========================================================
*/
/*
components
prefix: .c-
*/
@import "./docs/scss/components.scss";

/*
projects
prefix: .c-
*/
@import "./docs/scss/projects.scss";

/*
projects
prefix: .u-

*/
@import "./docs/scss/utilities.scss";
