.u-border {
  border-right: 4px solid #000;
}

.u-border-content {
  border-top: 4px solid #000;
  border-left: 4px solid #000;
}

.u-pdg-32-btm {
  padding-bottom: 32px;
}

.u-pdg-64-btm {
  padding-bottom: 64px;
}

.u-mgn-2vw-btm {
  margin-bottom: 2vw;
}

@media screen and (max-width: 1260px) {
  /*　画面サイズが1260pxまではここを読み込む　*/
  .u-pdg-64-btm {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 800px) {
  /*　画面サイズが800pxまではここを読み込む　*/
  .u-border {
    border: none;
  }
  .u-border-content {
    border: none;
  }
}
