/*
reset the style
========================================================
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Noto+Serif+JP|Playfair+Display");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
select,
textarea {
  outline: none; }

/*
colors, font-styles
========================================================
*/
/*
layout of the window
prefix: .l-
========================================================
*/
.l-wrapper {
  width: 100%; }

.l-display-flex {
  width: 80vw;
  margin: 6vw auto;
  display: flex; }

.l-profile-wrapper {
  flex: 1;
  max-width: 500px; }

.l-contents-wrapper {
  flex: 2; }

.l-profile-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 26px 0 0; }

.l-contents-flex {
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.l-contents-box-left {
  width: 18vw; }

.l-contents-box-mgn {
  width: 4vw; }

.l-contents-box-right {
  width: 18vw; }

/*
objects
========================================================
*/
/*
components
prefix: .c-
*/
/*
projects
prefix: .c-
*/
.p-p-box-shadow {
  box-shadow: 24px 24px #dcdcdc; }

.p-p-english-name {
  font-family: "Lato", sans-serif;
  font-size: 64px;
  line-height: 1.2em;
  margin: 0 auto 24px -3px;
  color: #000; }

.p-p-japanese-name {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #000;
  margin-bottom: 32px; }

.p-p-email {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #000;
  margin-bottom: 96px; }

.p-p-history {
  font-family: "Noto Sans JP", sans-serif;
  color: #6b6b6b;
  line-height: 1.5em; }
  .p-p-history h3 {
    font-size: 24px;
    margin-bottom: 32px; }
  .p-p-history p {
    font-size: 16px; }

.p-c-box-1 {
  background-color: #aaafff;
  height: 6vw;
  box-shadow: 8px 8px #9d9d9d; }

.p-c-box-2 {
  background-color: #afefe1;
  height: 12vw;
  box-shadow: 8px 8px #9d9d9d; }

.p-c-box-3 {
  background-color: #fadf09;
  height: 18vw;
  box-shadow: 8px 8px #9d9d9d; }

.p-c-box-4 {
  background-color: #d09eae;
  height: 24vw;
  box-shadow: 8px 8px #9d9d9d; }

.p-c-box-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #6b6b6b;
  padding: 16px; }

.p-c-box-img {
  object-fit: cover; }

/*
projects
prefix: .u-

*/
.u-pdg-64-btm {
  padding-bottom: 64px; }

.u-mgn-2vw-btm {
  margin-bottom: 2vw; }
