@charset "UTF-8";
/*
reset the style
========================================================
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Noto+Serif+JP|Playfair+Display");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
select,
textarea {
  outline: none;
}

/*
colors, font-styles
contains all variables & mixins
========================================================
*/
/*
layout of the window
prefix: .l-
========================================================
*/
.l-wrapper {
  width: 100%;
}

.l-link-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 32px;
  z-index: 10;
}

.l-header-grid {
  width: 100vw;
  height: 40vw;
  max-width: 2000px;
  max-height: 800px;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 50% 50%;
  grid-auto-columns: 60% 1fr;
  overflow: hidden;
}

.l-header-profile-box {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.l-header-content-upper-box {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.l-header-content-lower-box {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.l-contents-flex {
  width: 100vw;
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.l-contents-box-left {
  width: 30%;
}

.l-contents-box-middle {
  width: 30%;
}

.l-contents-box-right {
  width: 40%;
}

@media screen and (max-width: 800px) {
  .l-link-top {
    margin-bottom: 24px;
  }
  .l-header-grid {
    width: 100%;
    height: auto;
    max-height: none;
    display: block;
    overflow: hidden;
  }
  .l-header-profile-box {
    width: 100%;
    height: auto;
  }
  .l-header-content-upper-box {
    width: 100%;
    height: auto;
  }
  .l-header-content-lower-box {
    width: 100%;
    height: auto;
  }
  .l-contents-flex {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .l-contents-box-left {
    width: 100%;
  }
  .l-contents-box-middle {
    width: 100%;
  }
  .l-contents-box-right {
    width: 100%;
  }
}

/*
objects
========================================================
*/
/*
components
prefix: .c-
*/
a {
  color: #f58e00;
}

a:hover {
  color: #fbc883;
  transition: 2ms;
}

a:visited {
  color: #7000c2;
}

/*
projects
prefix: .c-
*/
html {
  background-color: #000;
}

/*
======================================
back to top button
*/
.p-link-top {
  width: 192px;
  height: 128px;
  background-color: #41b883;
  text-align: center;
  cursor: pointer;
}
.p-link-top img {
  margin-top: 20px;
  width: 40px;
  height: 40px;
}
.p-link-top span {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 900;
  margin-left: -5px;
}

/*
======================================
header profile area
*/
.p-h-profile-box {
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  background-color: #fff;
  padding-left: 2vw;
}

.p-h-english-name {
  font-family: "Lato", sans-serif;
  font-size: 96px;
  line-height: 1.2em;
  margin: 1vw auto 8px -3px;
  color: #000;
}

.p-h-japanese-name {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: #000;
  margin-bottom: 32px;
}

.p-h-email {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: #000;
  margin-bottom: 96px;
}

.p-h-history-wrapper {
  display: flex;
}

.p-h-history-title {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
}
.p-h-history-title h3 {
  font-size: 24px;
  font-weight: 900;
  margin: 4px auto 16px;
}
.p-h-history-title h4 {
  font-size: 16px;
  margin-bottom: 32px;
}

.p-h-history-detail {
  flex: 1;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  padding-left: 40px;
  font-size: 16px;
  line-height: 1.8em;
}

.p-h-upper-box {
  position: relative;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  overflow: hidden;
}

.p-h-lower-box {
  position: relative;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  overflow: hidden;
}

/*
======================================
contains area
*/
.p-c-box-1 {
  position: relative;
  background-color: #fadf09;
  height: 20vw;
  max-height: 400px;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  overflow: hidden;
}

.p-c-box-2 {
  position: relative;
  background-color: #9287f3;
  height: 30vw;
  max-height: 600px;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  overflow: hidden;
}

.p-c-box-3 {
  position: relative;
  background-color: #2aa7c7;
  height: 40vw;
  max-height: 800px;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  overflow: hidden;
}

/*
======================================
universal
*/
.p-u-box-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #000;
  padding: 16px;
  line-height: 1.5em;
}

.p-u-box-title {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  padding: 16px;
  line-height: 2em;
  cursor: pointer;
}
.p-u-box-title h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 24px;
}
.p-u-box-title p {
  font-size: 16px;
  font-weight: 100;
}

.p-u-box-title:hover {
  background-color: #41b883;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.p-u-box-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.p-u-hover-comment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background: #41b883;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.p-u-hover-comment:hover {
  opacity: 1;
}

.p-u-scale {
  cursor: pointer;
}

.p-u-scale:hover {
  transform: scale(1.1);
}

/*
=============================================================
Media query
*/
@media screen and (max-width: 1260px) {
  /*　画面サイズが1260pxまではここを読み込む　*/
  .p-h-english-name {
    font-size: 32px;
  }
  .p-h-japanese-name {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .p-h-email {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .p-h-history-wrapper {
    display: block;
  }
  .p-h-history-title h3 {
    font-size: 16px;
    font-weight: 900;
    margin: 4px auto 8px;
  }
  .p-h-history-title h4 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .p-h-history-detail {
    padding-left: 0px;
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 16px;
  }
  .p-u-box-text {
    font-size: 14px;
    padding: 8px;
    line-height: 1.3em;
  }
  .p-u-box-title {
    padding: 8px;
  }
  .p-u-box-title h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .p-u-box-title p {
    font-size: 14px;
  }
  .p-u-hover-comment {
    font-size: 14px;
    line-height: 1.3em;
    padding: 8px;
  }
}

@media screen and (max-width: 800px) {
  /*　画面サイズが800pxまではここを読み込む　*/
  html {
    background-color: #fff;
  }
  .p-link-top {
    width: 96px;
    height: 64px;
  }
  .p-link-top img {
    margin-top: 10px;
    width: 24px;
    height: 24px;
  }
  .p-link-top span {
    font-size: 16px;
  }
  .p-h-profile-box {
    padding: 0 6vw;
    border: none;
  }
  .p-h-english-name {
    font-size: 72px;
    margin-top: 64px;
    margin-bottom: 16px;
  }
  .p-h-japanese-name {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .p-h-email {
    font-size: 16px;
    margin-bottom: 120px;
  }
  .p-h-history-wrapper {
    display: block;
    padding-bottom: 48px;
  }
  .p-h-history-title h3 {
    font-size: 16px;
    font-weight: 900;
    margin: 4px auto 8px;
  }
  .p-h-history-title h4 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .p-h-history-detail {
    padding-left: 0;
    font-size: 14px;
    line-height: 1.5em;
    padding-bottom: 80px;
  }
  .p-h-upper-box {
    border: none;
  }
  .p-h-lower-box {
    border: none;
  }
  .p-c-box-1 {
    height: 60vw;
    border: none;
  }
  .p-c-box-2 {
    height: 80vw;
    border: none;
  }
  .p-c-box-3 {
    height: 100vw;
    border: none;
  }
  .p-u-box-img {
    vertical-align: bottom;
  }
  .p-u-hover-comment {
    position: absolute;
    left: 50%;
    width: 50%;
    opacity: 1;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/*
projects
prefix: .u-

*/
.u-border {
  border-right: 4px solid #000;
}

.u-border-content {
  border-top: 4px solid #000;
  border-left: 4px solid #000;
}

.u-pdg-64-btm {
  padding-bottom: 64px;
}

.u-mgn-2vw-btm {
  margin-bottom: 2vw;
}

@media screen and (max-width: 1260px) {
  /*　画面サイズが1260pxまではここを読み込む　*/
  .u-pdg-64-btm {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 800px) {
  /*　画面サイズが800pxまではここを読み込む　*/
  .u-border {
    border: none;
  }
  .u-border-content {
    border: none;
  }
}
